# Dependencies  
node_modules/  
  
# Build output  
dist/  
prisma/seed.ts  
# Environment variables  
.env  
.env.local  
.env.production  
  
# Prisma  
prisma/*.db  
prisma/*.db-journal  
  
# File uploads (temp files before Cloudinary upload)  
uploads/  
  
# IDE / Editor  
.vscode/  
.idea/  
*.swp  
*.swo  
  
# OS files  
.DS_Store  
Thumbs.db  
  
# Logs  
*.log  
npm-debug.log*  
  
# TypeScript cache  
*.tsbuildinfo